
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding:0;
    max-width: 100%;
    min-height: 100%;
    margin: 0 auto;
  }   

  input{
    outline: none;
  }

  .center{
    text-align: center;
    margin: 0 auto;
    margin-top: 8rem;
    font-weight: 500;
    font-size: xx-large;
  }
  
  .threeDots::after{
    cursor: pointer;
    right:0;
    z-index: 10;
    position: absolute;
    margin-top: 0.2rem;
    content: '\2807';
    font-size: 20px; 
    transition: 0.5s;     
}