
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding:0;
    max-width: 100%;
    min-height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
  }   

input::placeholder{
    letter-spacing: 0.8px;
}


  input{
    outline: none;
  }

  input[type='file'] {
    color: transparent;
  }

  .center{
    display: flex;
    flex-direction: column;
    width:30rem;
    height: 18rem;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    font-weight: 500;
    font-size: xx-large;
  }
  
  .threeDots::after{
    cursor: pointer;
    right:0;
    z-index: 10;
    position: absolute;
    margin-top: 0.2rem;
    content: '\2807';
    font-size: 20px; 
    transition: 0.5s;     
}