.mainLoginWrapper{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    align-items: center;
    background: 
	linear-gradient(74deg, rgba(67,241,139,0.93), rgba(0,0,0,0)),
	conic-gradient(from 209deg at 56% 9%, rgba(89,179,134,1), rgba(0,0,0,0)),
	conic-gradient(from 118deg at 37% 46%, rgba(185,224,196,1), rgba(255,0,255,0));
} 

.signInWrapper{
    padding-top: 10%;
    align-items: center;
}


.stayConnect{
    width: 12rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 0 auto;
}

.modalBtns{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
} 


.resetPasswordWrapper{
    margin: 0 auto;
    width: 32rem;
    height: 12rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    text-align: center;
}