.mainLoginWrapper{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    align-items: center;
    padding-top: 10rem;
    background: linear-gradient(90deg, rgb(234, 235, 229) 25%, rgb(193, 194, 176) 75%);
} 
.loginWrapper{
    margin: 0 auto;
    width: 40%;
    min-width:40rem;
    height:max-content;
    padding: 2rem;
    text-align: center;
    box-shadow: 0px 2px 4px 0px rgba(57, 55, 55, 0.692);
    border-radius: 8px;
} 
.formWrapper{
    margin: 0 auto;
    width: 100%;
} 
.formWrapper span{
    color: red; 
    font-size: small;
    font-weight: 500;
}

.loginForm{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
} 

.loginForm input{
    border: 1px solid rgb(154, 146, 146);
    border-top: none;
    border-radius: 8px;
} 

.loginInputField{
    display: flex;
    flex-direction: row;
    width: 60%;
    margin: 0 auto;
    align-items: center;
    gap: 0.2rem;
}

.btnsWrapper{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 40%;
    gap: 1rem;
}

.loaderWrapper{
    margin: 0 auto;
}

.stayConnect{
    width: 12rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 0 auto;
}

.modalBtns{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
} 

.forgotPassword{
    margin: 0 auto;
    width: 8rem;
    text-decoration: underline;
    color: rgb(66, 66, 219);
    font-size: small;
    margin-top: 1rem;
}

.forgotPassword:hover{
    text-decoration: none;
    color: rgb(115, 115, 211);
    cursor: pointer;
}

.resetPasswordWrapper{
    margin: 0 auto;
    width: 32rem;
    height: 12rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    text-align: center;
}