.mainEditGroup{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    width: 90%;
}


.headerWrapper{
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    width: 80%;
    height: 12rem;    
}

.mainEditGroup h2{
    margin: 0 auto;
    text-align: center;
}

.chatImageWrapper{
  margin: 0 auto;
  width: 60%; 
}  

.chatImageWrapper img{
    cursor: pointer;
    width: 50%;
    border-radius: 50%;
    object-fit: cover;
}

.membersOfChat{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: fit-content;
    min-width:15rem;
    overflow-y: scroll;
} 

.membersOfChat::-webkit-scrollbar{
    display: none;
} 

.saveChangesBtn{
    top: 0;
    left: 0;
    width: 20%;
}

.buttonsWrapper{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-bottom: 1rem;
}

.pickedUsersWrapper{
    position: relative;
    width: 20rem;
    height: fit-content;
    padding: 0.4rem;
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
}

.pickedUsersWrapper::-webkit-scrollbar{
    display: none;
}



.searchInputWrapper{
    width: 100%;
}


.sendNewMembersBtn{
    position: absolute;
    right: 0;
    cursor: pointer;
    transition: 0.4s;
}
.sendNewMembersBtn:hover{
transform: scale(1.2);
}