.mainEditGroup{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    min-width: 90%;
    height: 98%;
    gap: 0.4rem;
    padding-top: 0.5rem;
}

.headerWrapper{
    position: relative;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 70%;
}

.mainEditGroup h2{
    margin: 0 auto;
    text-align: center;
}

.chatImageWrapper{
  position: relative;
  margin: 0 auto;
  margin-top: 0.4rem;
  width: 12rem;
  height: 12rem;
  display: flex;
  flex-direction: column;  
  align-items: center;
}  

.chooseImageWrapper{
    position: absolute;
    z-index: 10;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    cursor: pointer;
    width: 1rem;
    height: 1rem;
}

.mediaSwitcherBtn{
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: fit-content;
    transition: 0.5s;
    cursor: pointer;
}
.mediaSwitcherBtn div:hover{
  color: rgb(77, 75, 75);
}


.chatMainContent{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 0.2rem;
}

.chatMedia{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    height: 100%;
}

.mainMediaWrapper{
    margin: 0 auto;
    width: 80%;
    height: 70%;
    display: -webkit-flex;
    flex-wrap: wrap;
    overflow-y: scroll;
} 
.mainMediaWrapper::-webkit-scrollbar{
    display: none;
}

.mediaItem{
    position: relative;
    width: 33%;
    height:50%;
    cursor: pointer;
    border: 1px solid rgba(85, 83, 83, 0.413);
    background-color: rgba(245, 245, 245, 0.632);
    transition: 0.5s;
}
.mediaItem:hover{
    transform: scale(1.02);
    background-color: rgba(208, 203, 203, 0.722);
}

.groupMembers{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 70%;
    max-height: 11rem;
    min-width:15rem;
    overflow-y: scroll;
} 

.groupMembers::-webkit-scrollbar{
    display: none;
} 

.jointGroupsWrapper{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 60%;
    height:fit-content;
    max-height: 14rem;
    min-width:15rem;
    overflow-y: scroll;
    box-shadow: 0px 2px 2px 0px rgba(51, 49, 49, 0.492);

}

.jointGroupsWrapper::-webkit-scrollbar{
    display: none;
} 


.saveChangesBtn{
    top: 0;
    left: 0;
    width: 10%;
}

.buttonsWrapper{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-top: 1.5rem;
    margin-bottom:1rem;
}

