
.mainDiv{
    text-align: center;
    height: 100%;
   } 
   .chatDiv{
     margin: 0 auto;
     width: 100%;
     height: 100%;  
     text-align: center; 
     background-color: rgba(208, 225, 225, 0.667);
     flex-grow: 1;
     display: flex;
     flex-direction: column;
   } 
   .noChatDiv{
    margin: 0 auto;
    width: 80%;
    height: 90%;  
    text-align: center;  
    font-size: 5vw;
    color: rgb(220, 215, 215);
    cursor: none;
   }
   .chatDiv input{
     margin: 0 auto;
     bottom: 0;
   }
   .chatDiv button{
     margin: 0 auto;
     bottom: 0;
   }

   .chatBoxHeader{
    position: relative;
    margin: 0 auto;
    height: 2.2rem;
    width: 95%;
    padding-left: 0.4rem;
    margin-bottom: 0.2rem;
    padding-top: 0.2rem;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: rgb(210, 213, 167);
    box-shadow: 1px 1px 4px 0px rgba(57, 55, 55, 0.692);
   } 

   .imageWrapper img{
    cursor: pointer;
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
   }

   .friendName{
    font-size: large;
    float: left;
    margin-left: 0.8rem;
    font-weight: bold;
    margin-top: 0.5rem;
   }

   .typingDiv{
    bottom: 0;
    font-size: x-small;
    margin-left: 0.4rem;
    color: rgb(59, 57, 57);
    float: left;
    margin-top: 1rem;
   }
   
   .chatBoxDiv{ 
     margin: 0 auto;
     width: 100%;
     height: 90%;
     overflow-y: scroll;
     overflow-x: hidden;
     display: flex;
     flex-direction: column; 
   } 
   
   .chatBoxDiv::-webkit-scrollbar{
     display: none;
   } 


   .chatBoxBottom{
    text-align: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    background-color: rgba(205, 210, 205, 0.9);
   }
   

   .submitMessageBtn{
    border: none;
    background-color: rgb(159, 171, 159);
    width:4rem;
    height: 2.4rem;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
    font-size: 2.5vmin;
   } 
   
   .submitMessageBtn:hover{
    color: white;
    background-color: rgba(87, 109, 87, 0.832);
   }
   

   .inputEmojiWrapper{
    width: 80%;
   } 

   
   