.mainNav{
    margin: 0 auto;
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    background-color:var(--beige_uni)
} 

.logo{
    float: left;
    min-width: 8rem;
    cursor: pointer;
    font-weight: bold;
    font-size: larger;
} 

.searchInput{
  position: relative;
  width: 30%;
  min-width: 22rem;
  margin: 0 auto;
}

.searchInput input{
    width: 100%;
    border: none;
    border-radius: 4px;
    min-height: 2.6rem;
    background-color: rgb(255, 255, 255);
    padding-left: 0.4rem;
    font-size: medium;
}  


.foundPersons{
    z-index: 100;
    position: absolute; 
    width: 100%;
    height: fit-content;
    max-height: 8rem;
    box-shadow: 0px 0px 4px 0px rgba(57, 55, 55, 0.692);
    overflow-y: scroll;
} 

.foundPersons::-webkit-scrollbar{
    display: none;
} 

.userSearchErrorMsg{
    height: 3rem;
    width: 100%;
    text-align: center;
    padding-top: 1rem;
    margin: 0 auto;
    font-size: large;
    font-weight: 500;
    background-color: rgb(219, 230, 230);
} 

.translateMenu{
   width: 4rem;
}

.notificationIcon{
    margin-right: 1em;
}
.notificationDropper{
    z-index: 100;
    position: absolute;
    margin-left: -6rem;
    margin-top: 0.4rem;
    width:15rem;
    height: fit-content;
    max-height: 7rem;
    overflow-y: scroll;
    background-color: whitesmoke;
    box-shadow: 0px 2px 4px 0px rgba(57, 55, 55, 0.692);
}

.notificationDropper::-webkit-scrollbar{
    display: none;
}


.userImage{
     cursor: pointer;
     margin-right: 2rem;
} 
.userImage img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
} 
.isMenuDiv{
    position: absolute;
    z-index: 10;
    right: 0;
    width: 6rem;
    height: fit-content;
    margin-top: 7rem;
    margin-right: 1rem;
    box-shadow: 0px 2px 2px 0px rgba(57, 55, 55, 0.692);
} 
.isMenuDiv div{
    background-color:var(--beige_uni);
    height: 1.7rem;
    padding: 0.1rem;
    cursor: pointer;
    transition: 0.5s;
    border-bottom: 1px solid rgba(151, 148, 148, 0.545);
} 
.isMenuDiv div:hover{
    background-color: rgb(223, 214, 214);
}


@media screen and (max-width:780px)
{
    .searchInput{
         width: 20rem;
         margin-right: 2rem;
    }

}