.userPageWrapper{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: rgb(204, 199, 192);
}

.userPageWrapper::before{   
        content: "";
        background: 
        linear-gradient(61deg, rgba(117,164,137,1), rgba(0,0,0,0)),
        conic-gradient(from 62deg at 10% 41%, rgba(160,206,160,1), rgba(0,0,255,0)),
        conic-gradient(from 242deg at 124% 47%, rgba(104,109,104,1), rgba(98,92,162,0));
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
      
}

.mainUserPage{
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    align-items: center;
    height:100vh;
    width: 40%;
    min-width: 28rem;
    background-color: rgb(254, 253, 253);
    box-shadow: 0px 4px 4px 0px rgba(57, 55, 55, 0.692);
    border-radius: 8px;
}

.formWrapper{
    margin: 0 auto;
    width: 100%;
    height: 75%;
    min-height: 450px;
}

.userPageHeader{
    margin:  0 auto;
    font-size: larger;
}

.userImageWrapper{
    position: relative;
    margin:  0 auto;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    box-shadow: 0px 4px 4px 0px rgba(57, 55, 55, 0.492);
    transition: 0.5s;
} 

.userImageWrapper:hover{
    transform: scale(1.08);
}

.chooseImageWrapper{
    position: absolute;
    z-index: 10;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    cursor: pointer;
    width: 1rem;
    height: 1rem;
} 

.chooseImageWrapper:hover .chooseImagePopup{
    display: block;
    position: absolute;
    margin-left: 2rem;
    width: 4rem;
    height: 2rem;
    color: black;
}

.chooseImagePopup{
    display: none;
}

.userPageForm{
    margin: 0 auto;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
} 

.userPageForm span{
    font-size: small;
    color: red;
}

.inputField{
    display: flex;
    flex-direction: column;
} 

.imagePreview{
    width: 100%;
    height:12rem;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 1rem;
}