.pickedUserShow{
    position: relative;
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 4px;
}

 .pickedUserShow img{
    float: left;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    object-fit: cover;
 }



.xDelete{
    width: 0.8rem;
    height:1rem;
    background-color: snow;
    border-radius: 40%;
    font-size: small;
    float: left;
    cursor: pointer;
    transition: 0.2s;
} 

.xDelete:hover{
  transform: scale(1.15);
} 
