.personMainDiv{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    width: 100%; 
    height: 10%;
    min-height: 5rem;
    text-align: left;
    padding-left: 0.5rem;
    cursor: pointer;
    border-bottom: 1px rgb(169, 157, 157) solid;
} 
.personMainDiv:hover{
    background-color: rgba(231, 224, 224, 0.685);
}

.userImageWrapper{
    width: 18%;
    float: left;
}



.userNameWrapper{
    position: relative;
    display: flex;
    flex-direction: row;
    text-align: center;
    float: left;
    width: 70%;
    transition: 0.5s;
} 



.threeDotsCostum::after{
    content: '\2807';
    display: block;
    position: absolute;
    z-index: 10;
    right: 0;
    cursor: pointer;
    margin-top: -0.8rem;
    font-size: 20px; 
    transition: 0.5s;
} 

.threeDotsCostum:hover{
    color: rgb(70, 69, 69);
}

.memberOperationMenu{
position: absolute;
z-index: 10;
right: 0;
margin-top: 15%;
margin-right: 18%;
display: flex;
flex-direction: column;
align-items: center;
width: 8rem;
line-height: 2.5rem;
background-color: rgb(235, 243, 243);
} 

.memberOperationMenu div{
    width: 100%;
    padding-left: 0.4rem;
    font-weight: bold;
    text-align:left;
    font-size: small;
    transition: 0.5s;
} 

.memberOperationMenu div:hover{
    width: 96%;
    background-color: rgb(215, 222, 222);
} 

.seenTime{
    position: absolute;
    float: right;
    text-align: right;
    right: 0;
    font-size: small;
    color: gray;
} 

.likeSign{
    position: absolute;
    float: right;
    text-align: right;
    right: 0;
    font-size: medium;
}