.notificationMainDiv{
    margin: 0 auto;
    text-align: left;
    padding: 0.4rem;
    width: 100%;
    height: 4rem;
    transition: 0.5s;
    border-bottom: 1px solid black;
} 

.notificationMainDiv:hover{
    background-color: rgb(236, 227, 227);
}   

.notifyPersonImgWrapper{
  float: left;
  width: 20%;
}


.notificationButtonsDiv{
    margin: 0 auto;
    margin-top: 0.8rem;
    display: flex;
    gap: 10px;
} 
.notificationButtonsDiv button{
    cursor: pointer;
    width: max-content;
    border: 1px black solid;
    border-radius: 8px;
    color: black;
    height: fit-content;
    font-size: small;
    background-color: whitesmoke;
    transition: 0.5s;
} 

.notificationButtonsDiv button:hover{
    background-color: rgb(230, 226, 226);
}