.notificationMainDiv{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    text-align: left;
    padding: 0.4rem;
    width: 100%;
    height: fit-content;
    max-height: 5rem;
    transition: 0.5s;
} 

.notificationMainDiv:hover{
    background-color: rgb(236, 227, 227);
}   

.notifyPersonImgWrapper{
  float: left;
  width:fit-content;
}


.mainNotificationWrapper{
    margin: 0 auto;
    float: left;
    display: flex;
    flex-direction: column;
}

.notificationDetails{
  width: 70%;
  margin: 0 auto;
  text-align: left;
}


.notificationButtonsDiv{
    margin: 0 auto;
    margin-top: 0.8rem;
    display: flex;
    flex-direction: row;
    gap: 10px;
} 
.notificationButtonsDiv button{
    cursor: pointer;
    width: max-content;
    border: 1px black solid;
    border-radius: 8px;
    color: black;
    height: fit-content;
    font-size: small;
    background-color: whitesmoke;
    transition: 0.5s;
} 

.notificationButtonsDiv button:hover{
    background-color: rgb(223, 210, 210);
}