

.loginWrapper{
    margin: 0 auto;
    width: 40%;
    min-width:30rem;
    height:max-content;
    padding: 2rem;
    text-align: center;
    box-shadow: 0px 2px 4px 0px rgba(57, 55, 55, 0.892);
    border-radius: 8px;
    background-color: rgba(131, 224, 194, 0.178);
} 

.header{
    font-size: x-large;
}

.formWrapper{
    margin: 0 auto;
    width: 100%;
} 
.formWrapper span{
    font-size: small;
    font-weight: 600;
}

.loginForm{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
} 

.loginForm input{
    border: 1px solid rgb(154, 146, 146);
    border-top: none;
    border-radius: 8px;
} 

.loginInputField{
    display: flex;
    flex-direction: row;
    width: 60%;
    margin: 0 auto;
    align-items: center;
    gap: 0.2rem;
}

.btnsWrapper{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 60%;
    gap: 1rem;
}

.loaderWrapper{
    margin: 0 auto;
} 

.forgotPassword{
    margin: 0 auto;
    width: fit-content;
    max-width: 12rem;
    text-decoration: underline;
    color: rgb(66, 66, 219);
    font-size: medium;
    font-weight: 600;
    margin-top: 1rem;
}

.forgotPassword:hover{
    text-decoration: none;
    color: rgb(115, 115, 211);
    cursor: pointer;
} 

.googleSignIn{
    margin: 0 auto;
    width: 60%;
    text-align: center;
    padding-top: 1rem;
    margin-top: 1rem;
    border-top: 1px solid black;
}

